@charset "UTF-8";

/*Typical Device Breakponts
PEquenas telas:
celular: de 600 a 768px
Tablet: de 768 a 992px
Desktop: de 992 a 1200px
Grandes telas: acima de 1200px
*/

@media screen and (max-width: 768px) {

    #full-banner {
        background-image: url(../imagens/bannermobile1.png);
        width: 100vw;
        height: 400px;
        margin-left 
    
    }

    #full-banner:hover {
        background-image: url(../imagens/bannermobile1.png);
        width: 100vw;
        transition: 0.5s;
    }

    #dicas-moda iframe {
        border: 2px solid  rgb(148, 148, 64);
        box-shadow: 1px 1px 5px black;
        width: 300px;
        margin-top: 30px;
    }

    #slide-departamento {
        width: 100vw;
    }
    
    
    
    .slide {
        border-radius: 50%;
        width: 50px;
        box-sizing: border-box;
        
    }

}

/*
    body, html {
        background-image: linear-gradient(to bottom, #49a09d, #5f2c82);

    }

    section#login {
        width: 70vw;
        height: 300px;
    }

    section#login div#imagem {
        float: left;
        width: 40%;
        height: 100%;


    }
    
    section#login div#formulario {
        float: right;
        width: 60%;
        
    }
}

/*
@media screen and (min-width: 992px) {
    body, html {
        background-image: linear-gradient(to bottom, #49a09d, #5f2c82);

    }
    
    section#login {
        width: 70vw;
        height: 300px;
    }
    section#login div#imagem {
        float: right;
        width: 40%;
        height: 100%;
        
    }
    section#login div#formulario {
        float: left;
        width: 60%;
        
    }

    div#formulario h1 {
        font-size: 2em;
    }
    
    div#formulario p {
        font-size: 1.2em;
    }
}
